button {
	padding: 8px 14px 8px 30px;
	font-size: 15px;
	border: 1px solid #aaa;
	color: #333;
	background-color: #dfdfdf;

	&:active {
		background-color: #bfbfbf;
	}

	span {
		position: relative;		
	}

}

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.red {
	fill: #f00;
}

.green {
	fill: #0f0;
}

.blue {
	fill: #00f;
}

.scale {
	transition: transform 0.25s ease-in;

	&:hover {
		transform: scale(1.6);
	}
}